<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Document</title>
</head>
<body>
    
    <div class="flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{message}} <br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>

    

    <div class="wrapper">
        <h1 class="loginHeading">Add Section</h1>
        <div class="formClass">
            <form class="formClass" action="/librarianDashboard/addSection" method="POST">
                <label for="name">Name</label>
                <input type="text" name="name"></input>
                <label for="description">Description</label>
                <input type="text" name="description"></input>
                <input class="submit" type="submit">
            </form>
        </div>
    </div>

</body>
</html>