<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Buy Book</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="loginHeading">Buy {{book.name}} for Rs{{book.price}}</h1>
        <div class="formClass">
            <form class="formClass" action="/buyBook?id={{book.id}}" method="post">
                <input type="submit">
            </form>
        </div>
    </div>    
</body>
</html>