<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Edit Section</title>
</head>
<body>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {{message}} <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div>
        <h3>Edit Section {{section.name}}</h3> <br>
    </div>

    <div>
        <form class="editSectionForm" action="/librarianDashboard/editSection?id={{section.id}}" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" value="{{section.name}}"></input>
            <label for="description">Description</label>
            <input id="description" type="text" name="description" value="{{section.description}}"></input>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>