<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Edit Section</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
            <div class="flash">
                {% for message in messages %}
                {{message}} <br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

    <div class="wrapper">
        <h1 class="loginHeading">Edit Section {{section.name}}</h1>
        <div class="formClass">
            <form class="formClass" action="/librarianDashboard/editSection?id={{section.id}}" method="post">
                <label for="name">Name</label>
                <input type="text" name="name" value="{{section.name}}"></input>
                <label for="description">Description</label>
                <input type="text" name="description" value="{{section.description}}"></input>
                <input class="submit" type="submit">
            </form>
        </div>
    </div>
</body>
</html>