<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
</head>
<body>
    <div>
        <h3>Edit Book {{book.name}}</h3> <br>
    </div>

    <div>
        <form class="editBookForm" action="/editBook?id={{book.id}}" method="post">
            <label for="isbn">ISBN</label>
            <input id="isbn" type="text" name="isbn" value="{{book.isbn}}"></input>
            <label for="name">Name</label>
            <input id="name" type="text" name="name" value="{{book.name}}"></input>
            <label for="authors">Authors (comma separated)</label>
            <input id="authors" type="text" name="authors"></input>
            <label for="page_count">Page Count</label>
            <input id="page_count" type="text" name="page_count" value="{{book.page_count}}"></input>
            <label for="content_path">Content Path</label>
            <input id="content_path" type="text" name="content_path" value="{{book.content}}"></input>
            <label for="publisher">Publisher</label>
            <input id="publisher" type="text" name="publisher" value="{{book.publisher}}"></input>
            <label for="volume">Publisher</label>
            <input id="volume" type="text" name="volume" value="{{book.volume}}"></input>
            <label for="section_name">Section Name</label>
            <input id="section_name" type="text" name="section_name" value="{{section.name}}"></input>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>