<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Section</title>
</head>
<body>
    <div>
        <form class="editSectionForm" action="/editSection" method="post">
            <label for="id">Section_id</label>
            <input id="id" type="text" name="id" value = {{id}}></input>
            <label for="name">Name</label>
            <input id="name" type="text" name="name"></input>
            <label for="description">Description</label>
            <input id="description" type="text" name="description"></input>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>