<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <div>
        <form class="feedbackForm" action="/feedback" method="post">
            <label for="isbn">ISBN</label>
            <input id="isbn" type="text" name="isbn" value={{isbn}}></input>
            <label for="feedback">Feedback</label>
            <input id="feedback" type="text" name="feedback"></input>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>