{% extends "generalBase.html" %}
{% block title %} My Books {% endblock %}

{% block content %}
<div>
    <form action="/generalDashboard/books/search">
        <input type="search" placeholder="Search" aria-label="Search" name="search_word">
        <button type="submit">Search</button>
    </form>
</div>
<div>
    {% if issued %}
    <h2>Issued Books: </h2>
    {% for bookIssue, book in issued %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5>    
                ISBN: {{book.isbn}} <br>
                Name: {{book.name}} <br>
                Authors:
                {% for book_author in book_authors %}
                    {% if book_author.book_id == book.id: %}
                    {{book_author.author_name}}
                    {% endif %}
                {% endfor %}
                <br>
                Return Date: {{bookIssue.date_of_return}} <br>
            </h5>
        </div>
    </div>

    
    <a href="/readBook?id={{book.id}}"><button>Read Book</button></a>
    <a href="/returnBook?id={{book.id}}"><button>Return Book</button></a> <br> <br>

    {% endfor %}
    {% endif %}

    {% if requested %}
    <h2>Requested Books: </h2>
    {% for bookRequest, book in requested %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5>    
                ISBN: {{book.isbn}} <br>
                Name: {{book.name}} <br>
                Authors:
                {% for book_author in book_authors %}
                    {% if book_author.book_id == book.id: %}
                    {{book_author.author_name}}
                    {% endif %}
                {% endfor %}
                <br>
                Publisher: {{book.publisher}}<br>
                Volume: {{book.volume}}<br>
                Date of Request: {{bookRequest.date_of_request}}

                {% endfor %}
            </h5>
        </div>
    </div>

    {% endif %}
</div>
{% endblock %}