<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='generalStyle.css') }}">
    <link rel="stylesheet" href="/../static/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        .display{
            padding: 10px;
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav style="margin-bottom: 20px;">
        <div>
          <h2>General Dashboard</h2>
        </div>
        <div class="navAnchor">
            <a href="/generalDashboard">Dashboard</a>
            <a href="/generalDashboard/books">View Your Books</a>
            <a href="/generalDashboard/requestBooks">Request Books</a>
            <a href="/generalDashboard/sections">View Sections</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {{message}} <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="display">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>