<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Stats</title>
</head>
<body>
    This will show stats

    <div>
        General User <br>
        <a href="/generalDashboard/books">View Your Books</a>
        <a href="/generalDashboard/requestBooks">Request Books</a>
        <a href="/generalDashboard/sections">View Sections</a>
        <a href="/logout">Logout</a>
    </div>
</body>
</html>