<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
</head>
<body>
    <div>
        <h2>Issued Books: </h2>
        {% for bookRequest, book in issued %}
        ISBN: {{book.isbn}} <br>
        Name: {{book.name}} <br>
        [Baaki saman yahan pe] <br>
        <button onclick="window.location.href='/returnBook?isbn={{book.isbn}}'">Return Book</button> <br> <br>

        {% endfor %}

        <h2>Requested Books: </h2>
        {% for bookIssue, book in requested %}
        ISBN: {{book.isbn}} <br>
        Name: {{book.name}} <br>

        [Baaki saman yahan pe bhi] <br><br>

        {% endfor %}
    </div>
</body>
</html>