{% if role == "Librarian" %}
{% extends "librarianBase.html" %}
{% else %}
{% extends "generalBase.html" %}
{% endif %}
{% block title %} Read Feedback {% endblock %}
{% block content %}
<div>

    {% if not book_feedbacks %}
    <h3>No feedbacks exist</h3>
    {% else %}
    {% for feedback in book_feedbacks %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5>    
                Username: {{feedback.username}} <br>
                ISBN: {{feedback.isbn}} <br>
                Book Name: {{feedback.name}} <br>
                Feedback: {{feedback.feedback}} <br>
                Rating: {{feedback.rating}} <br> <br>
            </h5>
        </div>
    </div>
</div>
<br>
{% endfor %}
{% endif %}
{% endblock %}