{% if role == "Librarian" %}
{% extends "librarianBase.html" %}
{% else %}
{% extends "generalBase.html" %}
{% endif %}
{% block title %} Read Feedback {% endblock %}
{% block content %}
<div>
    {% if not feedbacks %}
    <h3>No feedbacks exist</h3>
    {% endif %}
    {% for feedback in book_feedbacks %}
    ISBN: {{feedback.isbn}} <br>
    Book Name: {{feedback.name}} <br>
    UID: {{feedback.uid}} <br>
    Feedback: {{feedback.feedback}} <br>
    Rating: {{feedback.rating}} <br> <br>
    {% endfor %}
</div>
{% endblock %}