{% if role == "Librarian" %}
{% extends "librarianBase.html" %}
{% else %}
{% extends "generalBase.html" %}
{% endif %}
{% block title %} Read Feedback {% endblock %}
{% block content %}
<h3>Feedbacks for {{book_feedbacks[0].name}}</h3> <br>
    
    <div>
        {% if not book_feedbacks %}
            <h3>No feedbacks exist yet!</h3>
        {% else %}
            {% for feedback in book_feedbacks %}
                ISBN: {{feedback.isbn}} <br>
                Book Name: {{feedback.name}} <br>
                UID: {{feedback.uid}} <br>
                Feedback: {{feedback.feedback}} <br>
                Rating: {{feedback.rating}} <br> <br>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}