<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>Request Books</title>
</head>
<body>
    <div class="flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {{message}} <br>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div>
        <form action="/generalDashboard/requestBooks" method="POST">
            <label for="isbn">ISBN</label>
            <input id="isbn" type="text" name="isbn"></input>
            <label for="issue_time">Issue Time</label>
            <input id="issue_time" type="text" name="issue_time"></input>
            <input class="submit" type="submit">
        </form>
    </div>
</body>
</html>