<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revoke Access</title>
</head>
<body>
    <div>
        {% if not book_issues %}
        <h3>No Book Issues yet!</h3>
        {% endif %}

        {% for book_issue in book_issues %}
        Book ID: {{book_issue.book_id}} <br>
        Book Name: {{book_issue.name}} <br>
        username: {{book_issue.username}} <br>
        <a href="/revokeAccess?id={{book_issue.book_id}}&username={{book_issue.username}}"><button>Revoke Access</button></a> <br> <br>
        {% endfor %}
    </div>
</body>
</html>