{% if role == "Librarian" %}
{% extends "librarianBase.html" %}
{% else %}
{% extends "generalBase.html" %}
{% endif %}
{% block title %} Request Books {% endblock %}
{% block content %}
<div>
    {% if not books: %}
    <h3>No matching Search results found!</h3>
    {% endif %}
    {% for book in books: %}
        ISBN: {{book.isbn}} <br>
        Name: {{book.name}} <br>
        Publisher: {{book.publisher}} <br>
        Volume: {{book.volume}} <br>
        Section: {{book.section_name}} <br>
        Authors:
        {% for book_author in book_authors %}
            {% if book_author.book_id == book.id: %}
            {{book_author.author_name}}
            {% endif %}
        {% endfor %}
        <br>
        {% for issued_book_id in issued_book_ids if issued_book_id == book.id %}
        [Book already requested or issued] <br>
        {% else %}
        <a href="/requestBook?id={{book.id}}"><button>Request Book</button></a> 
        <a href="/readFeedback?id={{book.id}}"><button>Read Feedbacks</button></a>
        <br>
        {% endfor %}
        <br>
    {% endfor %}
</div>
{% endblock %}