<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/bootstrap.min.css">
    <title>Sections</title>
</head>
    </div>
    <div>
        {% for section in sections: %}
        <br>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5>
                    ID: {{section.id}} <br>
                    Name: {{section.name}} <br>
                    {% if section.description %}
                    Description: {{section.description}} <br>
                    {% else %}
                    Description: No description
                    {% endif %}
                </h5>
            </div>
        </div>
        <br>
        {% if role == "Librarian": %}
        <button onclick="window.location.href='/editSection?id={{section.id}}'">Edit Section</button>
        <button onclick = "window.location.href='/addBook?section_id={{section.id}}'">Add Book</button>
        {% if section.id != 0 %}
        <button onclick="window.location.href='/removeSection?id={{section.id}}'">Remove Section</button>
        {% endif %}
        {% endif %}
        <button onclick = "window.location.href='/{{section.name}}/viewBooks'">View Books</button> <br>
        {% endfor %}
    </div>

    <div>
        {% if role == "Librarian" %}
        <button onclick="window.location.href='/addSection'">Add Section</button>
        {% endif %}
    </div>
</body>
</html>