<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
    <div>
        {% if not books: %}
        <h3>No Books exist in this section yet</h3>
        {% endif %}

        {% for book in books: %}
        <div>
            ISBN: {{book.isbn}} <br>
            Name: {{book.name}} <br>
            Page Count: {{book.page_count}} <br>
            Publisher: {{book.publisher}} <br>
            Volume: {{book.volume}} <br>
            
            <button onclick="window.location.href='/readBook?id={{book.id}}'">Read Book</button> <br>

            {% if role == "Librarian": %}
            <button onclick="window.location.href='/editBook?id={{book.id}}'">Edit Book</button> <br>
            <button onclick="window.location.href='/removeBook?id={{book.id}}'">Remove Book</button> <br>
            <button onclick="window.location.href='/librarianDashboard/viewBookStatus?id={{book.id}}'">View Status</button> <br> <br>
            <a href="/addBook?section_id={{book.section_id}}"><button>Add Book</button></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>