{% extends "librarianBase.html" %}
{% block title %}Book Status{% endblock %}
{% block content %}

<div>
    {% if not book_and_users %}
    <h3>No book issues exist yet!</h3>
    {% else %}

    <h3>Book ID: {{id}}</h3>
    <br>

    {% for book_user in book_and_users: %}
    UID: {{book_user.uid}} <br>
    Name: {{book_user.first_name + " " + book_user.last_name}} <br>
    Role: {{book_user.role}} <br>
    Date Of Issue: {{book_user.date_of_issue}} <br>
    Date of Return: {{book_user.date_of_return}} <br> <br>
    {% endfor %}

    {% endif %}
</div>
{% endblock %}