{% extends "librarianBase.html" %}
{% block title %}View Requests{% endblock %}
{% block content %}

{% if not requests %}
<h3>No Book requests yet!</h3>
{% else %}
<h1>Book Requests</h1>
{% for request in requests: %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5>    
            Book ID: {{request.id}} <br>
            ISBN: {{request.isbn}} <br>
            Book name: {{request.name}} <br>
            UID: {{request.uid}} <br>
            Name: {{request.first_name + ' ' + request.last_name}} <br>
            Issue Time: {{request.issue_time}} days <br>
        </h5>
    </div>
</div>
<br>
<a href="/librarianDashboard/viewRequests/dealWithRequest?id={{request.id}}&uid={{request.uid}}&issue_time={{request.issue_time}}&accept=1"><button>Accept</button></a> 
<a href="/librarianDashboard/viewRequests/dealWithRequest?id={{request.id}}&uid={{request.uid}}&accept=0"><button>Reject</button></a> <br> <br>
{% endfor %}
{% endif %}

{% endblock %}