<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book Status</title>
</head>
<body>
    <div>
        <h3>Book ID: {{id}}</h3>
        <br>

        {% for book_user in book_and_users: %}
        UID: {{book_user.uid}} <br>
        Name: {{book_user.first_name + " " + book_user.last_name}} <br>
        Role: {{book_user.role}} <br>
        Date Of Issue: {{book_user.date_of_issue}} <br>
        Date of Return: {{book_user.date_of_return}} <br> <br>
        {% endfor %}
    </div>
</body>
</html>